header {
    color: #000000; /* Header text color */
    text-align: center;
    padding: 20px;
}
h1 {
    font-size: 36px;
}
@media (max-width: 700px) {
    h1 {
        font-size: 28px; 
    }
}
@media (max-width: 480px) {
    h1 {
        font-size: 24px; 
    }
}
@media (max-width: 330px) {
    h1 {
        font-size: 22px; 
    }
}

/* FAQ-container */
.container {
    max-width: 800px;
    padding: 15px;
    margin: 0 auto; /* Horizontaal centreren op de pagina */
    background-color: #ffffff; /* Achtergrondkleur van de container */
    border-radius: 7px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Schaduw toevoegen */
    margin-top: 20px; /* Ruimte boven de container toevoegen */
    margin-bottom: 20px; /* Ruimte onder de container toevoegen */
}

@media (max-width: 960px) {
    .container {
        max-width: 90%; /* Verminder de maximale breedte op kleinere schermen */
    }
}

.faq {
    margin-bottom: 9px;
    border-top: 1px solid #ccc;
    padding: 18px 0 10px; /* Ruimte boven en onder de vraag aanpassen */
}

.faq:first-child {
    border-top: none;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-question h2 {
    margin: 0;
    font-size: 18px;
}

.faq-answer {
    display: none;
    background-color: #fff;
    padding: 10px;
}

.faq.active .faq-answer {
    display: block;
}

.faq-question i {
    margin-right: 5px;
    transition: transform 0.3s;
}

.faq.active .faq-question i {
    transform: rotate(180deg);
}

/* Speciale klasse voor de eerste vraag */
.first-faq { 
    padding-top: 8px;
}

/* <--- Einde FAQ-container ---> */

.faq-help {
    text-align: center;
    margin-top: 20px;
}

.faq-help p {
    font-size: 18px;
    margin-bottom: 10px;
}

.ask-question-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF; /* Achtergrondkleur van de knop */
    color: #fff; /* Tekstkleur van de knop */
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.ask-question-button:hover {
    background-color: #0056b3; /* Achtergrondkleur van de knop bij hover */
}
