header {
    color: #000000; /* Header text color */
    text-align: center;
    padding: 20px;
}
h1 {
    font-size: 36px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.question {
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
    color: #000000; /* Kleur van de vraagtekst */
}
.question:hover {
    color: #333;
}

.answer {
    font-size: 16px;
    display: none;
    margin-bottom: 15px;
    color: #333; /* Kleur van het antwoordtekst */
}

.container {
    max-width: 800px;
    margin: 0 auto; /* Horizontaal centreren op de pagina */
    background-color: #ffffff; /* Achtergrondkleur van de container */
    border-radius: 10px;
    text-align: left;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Schaduw toevoegen */
    margin-top: 20px; /* Ruimte boven de container toevoegen */
    margin-bottom: 20px; /* Ruimte onder de container toevoegen */
}
