header {
    color: #000000; /* Header text color */
    text-align: center;
    padding: 20px;
}
h1 {
    font-size: 36px;
}
@media (max-width: 700px) {
    h1 {
        font-size: 28px; /* Verminder de tekstgrootte van de titel op kleinere schermen */
    }
}
@media (max-width: 480px) {
    h1 {
        font-size: 24px; /* Verminder de tekstgrootte van de titel op kleinere schermen */
    }
    @media (max-width: 330px) {
        h1 {
            font-size: 23px; /* Verminder de tekstgrootte van de titel op kleinere schermen */
        }
    }
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    margin: 0 auto; /* Horizontaal centreren op de pagina */
    background-color: #ffffff; /* Achtergrondkleur van de container */
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Schaduw toevoegen */
    margin-top: 20px; /* Ruimte boven de container toevoegen */
    margin-bottom: 20px; /* Ruimte onder de container toevoegen */
}

@media (max-width: 960px) {
    .container {
        max-width: 90%; /* Verminder de maximale breedte op kleinere schermen */
    }
}

.faq {
    margin-bottom: 20px;
    border-top: 1px solid #ccc; /* Voeg een grijze bovenste scheidingslijn toe */
    padding-top: 10px; /* Ruimte boven de vraag */
}

.faq:first-child {
    border-top: none; /* Verwijder de bovenste scheidingslijn voor de eerste vraag */
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-bottom: 5px;
}

.faq-question h2 {
    margin: 0;
    font-size: 18px; /* Pas de lettergrootte van de vraagtekst aan */
}

.faq-answer {
    display: none;
    background-color: #fff;
    padding: 10px;
}

.faq.active .faq-answer {
    display: block;
}

.faq-question i {
    margin-right: 5px; /* Pas de rechtermarge van het "v"-symbool aan */
}
.faq-question i {
    transition: transform 0.3s; /* Voeg een overgang toe voor soepele animatie */
}

.faq.active .faq-question i {
    transform: rotate(180deg); /* Draai het "v"-symbool omhoog (180 graden) */
}