/* Tabelstijl */
.table-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

table th {
    background-color: #333;
    color: white;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* <--- Algemene pagina style ---> */
body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/* NavBar */
nav {
 box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
} 
nav{
 display: flex;
 height: 70px;
 width: 100%;
 background: #054c38;
 align-items: center;
 justify-content: space-between;
 padding: 0 50px 0 100px;
 flex-wrap: wrap;
}
nav .logo{
 color: #abcac1;
 font-size: 30px;
 font-weight: 600;
}
@media (max-width: 490px){
 nav .logo{
   font-size: 25px;
 }
}
nav ul{
 list-style: none; 
}
nav ul li{
 margin: 0 5px;
}
nav ul li a{
 color: #f2f2f2;
 text-decoration: none;
 font-size: 18px;
 font-weight: 500;
 padding: 8px 15px;
 border-radius: 5px;
 letter-spacing: 1px;
 transition: all 0.3s ease;
 
}
nav ul li a.active,
nav ul li a:hover{
 color: #f2f2f2;
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Voeg een schaduw toe */
}
@media (max-width: 1000px){
 nav{
   padding: 0 40px 0 50px;
 }
@media (max-width: 700px) {
   nav .logo {
       font-size: 25px; /* Verminder de tekstgrootte van de titel op kleinere schermen */
   }
}
@media (max-width: 370px) {
 nav .logo {
     font-size: 22px; /* Verminder de tekstgrootte van de titel op kleinere schermen */
 }
}
@media (max-width: 370px) {
 nav .logo {
     font-size: 19px; /* Verminder de tekstgrootte van de titel op kleinere schermen */
     margin-left: -30px;
 }
} 
}

/* deur pictogram */
.icon-link {
     display: inline; /* Toon het pijlpictogram */
     font-size: 24px; /* Grootte van het pictogram*/
     text-decoration: none; 
     transition: box-shadow 0.2s; /* Voeg een overgangseffect*/
    margin-right: -22px; 
}
/* Voeg schaduw toe bij hover */
.icon-link:hover {
    background-color: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}