/* Tabelstijl */
.table-container {
    max-width: 800px; /* Maximale breedte van 800px */
    width: calc(100% - 50px); /* 100% min 20px aan beide zijden */
    margin: 0 auto; /* Plaats de tabel in het midden van de pagina */
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

table th {
    background-color: #333;
    color: white;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Responsieve lijststijl */
.overzicht-container {
    max-width: calc(100% - 50px); 
    margin: 10px auto; 
    background-color: transparent;
    border: none;
    padding: 0;
    display: none;
}

.overzicht-item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.overzicht-item strong {
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: #333;
    margin-bottom: 6px;
    margin-top: 12px;
}

.overzicht-item span {
    font-weight: bold;
    color: #555;
    font-size: 16px;
}

/* Stijl voor de lijst op schermen kleiner dan 769px */
@media (max-width: 768px) {
    .overzicht-container {
        display: block; /* Toon de lijst op kleinere schermen */
    }

    table {
        display: none; /* Verberg de tabel op kleinere schermen */
    }

    h2 {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    }
}

@media (max-width: 450px) {
    .overzicht-item strong {
        font-size: 14px; /* Kleinere tekstgrootte voor kopjes */
    }

    .overzicht-item span {
        font-size: 12px; /* Kleinere tekstgrootte voor de tekst in de tabel */
    }

    h2 {
        font-size: 19px; /* Kleinere tekstgrootte voor h2 */
    }
}

/* Stijl voor de lijst op grotere schermen */
@media (min-width: 769px) {
    .overzicht-container {
        display: none;
    }
}

/* Stijl voor de verwijderknop */
.delete-button {
    color: rgb(0, 0, 0); 
    padding: 5px 10px; 
    border: none; 
    cursor: pointer; 
    display: inline-block; /* Zet de knop als inline-blok om marges toe te passen */
    margin-bottom: 10px; /* Voeg een marge aan de onderkant toe */
}

.delete-button i {
    margin-left: 5px; 
}

.delete-button:hover {
    color: red; 
    transition: background-color 0.2s; 
}

.delete-button i {
    transition: transform 0.2s; 
}

.delete-button:hover i {
    transform: scale(1.2); 
    transition: transform 0.2s; 
}

body {
    background-color: rgb(249, 251, 253);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/* NavBar */
nav {
 box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
} 
nav{
 display: flex;
 height: 70px;
 width: 100%;
 background: #054c38;
 align-items: center;
 justify-content: space-between;
 padding: 0 50px 0 100px;
 flex-wrap: wrap;
}
nav .logo{
 color: #abcac1;
 font-size: 30px;
 font-weight: 600;
}
@media (max-width: 490px){
 nav .logo{
   font-size: 25px;
 }
}
nav ul{
 list-style: none; 
}
nav ul li{
 margin: 0 5px;
}
nav ul li a{
 color: #f2f2f2;
 text-decoration: none;
 font-size: 18px;
 font-weight: 500;
 padding: 8px 15px;
 border-radius: 5px;
 letter-spacing: 1px;
 transition: all 0.3s ease;
 
}
nav ul li a.active,
nav ul li a:hover{
 color: #f2f2f2;
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Voeg een schaduw toe */
}
@media (max-width: 1000px){
 nav{
   padding: 0 40px 0 50px;
 }
@media (max-width: 700px) {
   nav .logo {
       font-size: 25px; /* Verminder de tekstgrootte van de titel op kleinere schermen */
   }
}
@media (max-width: 370px) {
 nav .logo {
     font-size: 22px; /* Verminder de tekstgrootte van de titel op kleinere schermen */
 }
 .fa-door-open{
    margin-right: -20px;
}
}
@media (max-width: 410px) {
 nav .logo {
     font-size: 19px; /* Verminder de tekstgrootte van de titel op kleinere schermen */
     margin-left: -30px;
 }
 .fa-door-open{
    margin-right: -19px;
}
} 
@media (max-width: 320px) {
    nav .logo {
        font-size: 16px; /* Verminder de tekstgrootte van de titel op kleinere schermen */
        margin-left: -35px;
    }
    .fa-door-open{
        margin-right: -30px;
    }
   }
}

/* deur pictogram */
.icon-link {
     display: inline; /* Toon het pijlpictogram */
     font-size: 24px; /* Grootte van het pictogram*/
     text-decoration: none; 
     transition: box-shadow 0.2s; /* Voeg een overgangseffect*/
    margin-right: -25px; 
}
/* Voeg schaduw toe bij hover */
.icon-link:hover {
    background-color: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}