/* Algemene style voor alle pagina's */

body {
    background-image: linear-gradient(rgb(221, 255, 187), rgba(221, 255, 187, 0.7)), url("../images/background.jpg");
     margin-top: 0px;
     margin-left: 0px;
     margin-right: 0px;
}

  footer {
    background-color: #054c38;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

.footer {
    color: white;
    font-size: 14px;
}

/* Footer op bodem houden*/
main {
  margin: 0 auto;
  min-height: calc(125vh - 211px - 58px);
}

/* scroll to top bubble */
.scroll-to-top-bubble {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #0074d9;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-size: 20px;
  z-index: 99; /* Ensure it's above other elements */
}

.scroll-to-top-bubble i {
  transform: translateY(-2px);
}

.scroll-to-top-bubble.active {
  display: block;
}

.scroll-to-top-bubble.active:hover {
  background-color: #0056b3;
}

/* NavBar */
nav {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  display: flex;
  height: 70px;
  width: 100%;
  background: #054c38;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #abcac1;
  font-size: 30px;
  font-weight: 600;
}
@media (max-width: 490px){
  nav .logo{
    font-size: 25px;
  }
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  z-index: 99; /* Verhoog de z-index-waarde. Zodat meldingen achter het hamburger menu blijven*/
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  
}
nav ul li a.active,
nav ul li a:hover{
  color: #f2f2f2;
  background: #058053;
}
nav .menu-btn i{
  color: #94c3b2;
  font-size: 28px; /*grote van "hamburger-meneu" knop*/
  cursor: pointer;
  display: none;
  margin-left: -30px;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 1150px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 70px;
    left: -100%;
    background: #d8fcb4;/*achtergrond kleur hamburger-meneu */
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  } 
  nav ul li{
    width: 100%;
    margin: 35px 0; /*afstand van tekst in hamburger-menu*/
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 22px; /*tekst groote in hamburger-menu*/
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: #0f5340; /* active + hover tekst kleur */
  }
  nav .logo{
    color: #93ada6;
    font-size: 30px;
    font-weight: 600;
  }
  @media (max-width: 700px) {
    nav .logo {
        font-size: 25px; /* Verminder de tekstgrootte van de titel op kleinere schermen */
    }
}
@media (max-width: 370px) {
  nav .logo {
      font-size: 22px; /* Verminder de tekstgrootte van de titel op kleinere schermen */
  }
}
@media (max-width: 370px) {
  nav .logo {
      font-size: 19px; /* Verminder de tekstgrootte van de titel op kleinere schermen */
      margin-left: -30px;
  }
  nav .menu-btn i{
    font-size: 25px; /*grote van "hamburger-meneu" knop*/
    margin-left: -5%;
  }
}
  nav ul li a{
    color: #2f8f74; /* Non-active tekst kleur */
  }
  
}
.no-scroll {
  overflow: hidden;
}
/* <---Einde NavBar---> */

.login-button {
  text-align: center;
  margin-top: 20px;
}

.login-button a {
  color: #fff; /* Pas de gewenste tekstkleur aan */
  padding: 10px 20px;
  text-decoration: none;
  font-size: 9px;
}

.login-button a:hover {
  color: #b1b1b1; /* Pas de gewenste achtergrondkleur aan voor hover-effect */
}

.box {
  border: 3px solid black;
  margin-right: 15%;
  margin-top: 20px;
  margin-left: 15%;
  background-color: #c4916e;
  border-radius: 25px;
  text-align: left;
  padding-top: 2px;
  padding-bottom: 200px;
  padding-left: 15px;
}

div.text {
  color: black;
  font-family: "Times New Roman", Times, serif;
}

.darkmodeicon {
  float: right;
  scale: 50%;
  margin-top: 0px;
}