body {
    background-image: url("../images/background.jpg"); 
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.box {
    
    border: 3px solid black;
    margin-right: 15%;
    margin-top: 5%;
    margin-left: 15%;
    background-color: #c4916e;
    border-radius: 25px;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 200px;
    padding-left: 15px;
    

}
div.text {
    color: black;
}

.footer {
    color: white;
    text-align: end ;
    margin-top: 20%;
    margin-right: 2px;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #47ad56;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 0px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #058053;
    color: white;
  }