.box {
    
    border: 3px solid black;
    margin-right: 15%;
    margin-top: 1%;
    margin-left: 15%;
    background-color: #c4916e;
    border-radius: 25px;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 200px;
    padding-left: 15px;
    

}
div.text {
    color: black;
}