body {
    background-image: url("images/background.jpg"); 
}
.box {
    
    border: 3px solid black;
    margin-right: 15%;
    margin-top: 5%;
    margin-left: 15%;
    background-color: #9e7960;
    border-radius: 25px;
    text-align: left;
    

}
div.text {
    margin-left: 15px;
}

.footer {
    
    text-align: right;
    margin-top: 20%;
}